2)Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [259]:
def fibonacci(n):
    sequence = [0,1]



    for i in range(2,n+1):
        next_num = sequence[-1] + sequence[-2]


        sequence.append(next_num)
    return sequence



sequence = fibonacci(34)
print(sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887]

In [260]:
sum=0
for i in range(len(sequence)):
    
    if sequence[i] %2 ==0:
        sum = sum+sequence[i]
print(sum)

4613732

## 3)The prime factors of 13195 are 5, 7, 13 and 29.

# What is the largest prime factor of the number 600851475143 ?

In [13]:
import math
j=2
k=[]
l=[]
n=600851475143
while j < n**0.5:   
    while n>1:
        while n%j == 0:
            n=n/j
            l.append(n)
            k.append(j)
        j=j+1
print(k)
print(l)

[71, 839, 1471, 6857]
[8462696833.0, 10086647.0, 6857.0, 1.0]

In [22]:
print('The largest prime factor for 600851475143 is:'+str(max(k)))

The largest prime factor for 600851475143 is:6857

## 4) A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 × 99.

# Find the largest palindrome made from the product of two 3-digit numbers.

Ans) first find the largest 6 digit palindrome

9999

In [26]:
def palindrome(x):
    return str(x)==str(x)[::-1]
 
k=0

In [27]:
palindrome(9139)

False

In [28]:
for i in range(100,999):
    for j in range(100,999):
        if palindrome(i*j):
            if k<i*j:
                k=i*j
print(k)

906609

## 2520 is the smallest number that can be divided by each of the numbers from 1 to 10 without any remainder.

## What is the smallest positive number that is evenly divisible by all of the numbers from 1 to 20?

In [32]:

 def get_primes(n):
    numbers = set(range(n, 1, -1))
    primes = []
    while numbers:
        p = numbers.pop()
        primes.append(p)
        numbers.difference_update(set(range(p*2, n+1, p)))
    return primes

In [45]:
get_primes(100)

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [46]:
primes[1]

3

In [2]:
import numpy as np
numbers = set(range(100000, 1, -1))
primes = []
while numbers:
    p = numbers.pop()
    primes.append(p)
    numbers.difference_update(set(range(p*2, n+1, p)))
print(primes)

NameError: name 'n' is not defined

# The sum of the squares of the first ten natural numbers is,

# The square of the sum of the first ten natural numbers is,

# Hence the difference between the sum of the squares of the first ten natural numbers and the square of the sum is .

# Find the difference between the sum of the squares of the first one hundred natural numbers and the square of the sum.

In [51]:
n=100
sum=n*(n+1)/2
k=sum**2
mus=n*(n+1)*(2*n+1)/6
print(k-mus)

25164150.0

# prime numbers seive of eratosthenes
# 10.The sum of the primes below 10 is 2 + 3 + 5 + 7 = 17.Find the sum of all the primes below two million.

In [46]:

#hi = 2000000
hi=2000000
# create a set excluding even numbers
numbers = set(range(3, hi + 1, 2)) 

for number in range(3, int(hi ** 0.5) + 1):
    if number not in numbers:
        #number must have been removed because it has a prime factor
        continue

    num = number
    while num < hi:
        num += number
        if num in numbers:
            # Remove multiples of prime found
            numbers.remove(num)

k=list(numbers)
print(2+sum(k))

142913828922

# 7.By listing the first six prime numbers: 2, 3, 5, 7, 11, and 13, we can see that the 6th prime is 13.
# What is the 10 001st prime number?

In [45]:
#print(2+sum(numbers))
k[9999]

104743

In [12]:
eratosthenes(1000,1)

3

# 8.The four adjacent digits in the 1000-digit number that have the greatest product are 9 × 9 × 8 × 9 = 5832.

73167176531330624919225119674426574742355349194934
96983520312774506326239578318016984801869478851843
85861560789112949495459501737958331952853208805511
12540698747158523863050715693290963295227443043557
66896648950445244523161731856403098711121722383113
62229893423380308135336276614282806444486645238749
30358907296290491560440772390713810515859307960866
70172427121883998797908792274921901699720888093776
65727333001053367881220235421809751254540594752243
52584907711670556013604839586446706324415722155397
53697817977846174064955149290862569321978468622482
83972241375657056057490261407972968652414535100474
82166370484403199890008895243450658541227588666881
16427171479924442928230863465674813919123162824586
17866458359124566529476545682848912883142607690042
24219022671055626321111109370544217506941658960408
07198403850962455444362981230987879927244284909188
84580156166097919133875499200524063689912560717606
05886116467109405077541002256983155200055935729725
71636269561882670428252483600823257530420752963450

# Find the thirteen adjacent digits in the 1000-digit number that have the greatest product. What is the value of this product?

In [94]:
n=str('7316717653133062491922511967442657474235534919493496983520312774506326239578318016984801869478851843858615607891129494954595017379583319528532088055111254069874715852386305071569329096329522744304355766896648950445244523161731856403098711121722383113622298934233803081353362766142828064444866452387493035890729629049156044077239071381051585930796086670172427121883998797908792274921901699720888093776657273330010533678812202354218097512545405947522435258490771167055601360483958644670632441572215539753697817977846174064955149290862569321978468622482839722413756570560574902614079729686524145351004748216637048440319989000889524345065854122758866688116427171479924442928230863465674813919123162824586178664583591245665294765456828489128831426076900422421902267105562632111110937054421750694165896040807198403850962455444362981230987879927244284909188845801561660979191338754992005240636899125607176060588611646710940507754100225698315520005593572972571636269561882670428252483600823257530420752963450')

In [99]:
l.append(int(n[0])*int(n[1])*int(n[2])*int(n[3]))

In [109]:

l=[]
for i in range(len(n)-13):
    sum=1
    for k in range(0,13):
        sum*=int(n[i+k])
    l.append(sum)
print(max(l))

23514624000

In [93]:
int(n[10])

1

# 9.A Pythagorean triplet is a set of three natural numbers, a < b < c, for which,

# a2 + b2 = c2
# For example, 32 + 42 = 9 + 16 = 25 = 52.

# There exists exactly one Pythagorean triplet for which a + b + c = 1000.
# Find the product abc.

In [9]:

for a in range(333):
    for b in range(500):
        
        c=1000-a-b
        if int(c**2) == int(a**2 + b**2) :
            print(a*b*c)

31875000

# prime numbers (high complexity)

In [27]:
k=[]
for i in range(2,1000):
    divisor=0
    for j in range(2,i):
        if i%j==0:
            divisor=divisor+1
    if divisor==0 or i==2:
        k.append(i)

In [28]:
print(k)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

# In the 20×20 grid below, four numbers along a diagonal line have been marked in red.

08 02 22 97 38 15 00 40 00 75 04 05 07 78 52 12 50 77 91 08
49 49 99 40 17 81 18 57 60 87 17 40 98 43 69 48 04 56 62 00
81 49 31 73 55 79 14 29 93 71 40 67 53 88 30 03 49 13 36 65
52 70 95 23 04 60 11 42 69 24 68 56 01 32 56 71 37 02 36 91
22 31 16 71 51 67 63 89 41 92 36 54 22 40 40 28 66 33 13 80
24 47 32 60 99 03 45 02 44 75 33 53 78 36 84 20 35 17 12 50
32 98 81 28 64 23 67 10 26 38 40 67 59 54 70 66 18 38 64 70
67 26 20 68 02 62 12 20 95 63 94 39 63 08 40 91 66 49 94 21
24 55 58 05 66 73 99 26 97 17 78 78 96 83 14 88 34 89 63 72
21 36 23 09 75 00 76 44 20 45 35 14 00 61 33 97 34 31 33 95
78 17 53 28 22 75 31 67 15 94 03 80 04 62 16 14 09 53 56 92
16 39 05 42 96 35 31 47 55 58 88 24 00 17 54 24 36 29 85 57
86 56 00 48 35 71 89 07 05 44 44 37 44 60 21 58 51 54 17 58
19 80 81 68 05 94 47 69 28 73 92 13 86 52 17 77 04 89 55 40
04 52 08 83 97 35 99 16 07 97 57 32 16 26 26 79 33 27 98 66
88 36 68 87 57 62 20 72 03 46 33 67 46 55 12 32 63 93 53 69
04 42 16 73 38 25 39 11 24 94 72 18 08 46 29 32 40 62 76 36
20 69 36 41 72 30 23 88 34 62 99 69 82 67 59 85 74 04 36 16
20 73 35 29 78 31 90 01 74 31 49 71 48 86 81 16 23 57 05 54
01 70 54 71 83 51 54 69 16 92 33 48 61 43 52 01 89 19 67 48

# The product of these numbers is 26 × 63 × 78 × 14 = 1788696.

# What is the greatest product of four adjacent numbers in the same direction (up, down, left, right, or diagonally) in the 20×20 grid?

In [126]:
problemMatrix  =[[8, 2, 22, 97, 38, 15, 0, 40, 0, 75, 4, 5, 7, 78, 52, 12, 50, 77, 91, 8],
              [49, 49, 99, 40, 17, 81, 18, 57, 60, 87, 17, 40, 98, 43, 69, 48, 4, 56, 62, 0],
              [81, 49, 31, 73, 55, 79, 14, 29, 93, 71, 40, 67, 53, 88, 30, 3, 49, 13, 36, 65],
              [52, 70, 95, 23, 4, 60, 11, 42, 69, 24, 68, 56, 1, 32, 56, 71, 37, 2, 36, 91],
              [22, 31, 16, 71, 51, 67, 63, 89, 41, 92, 36, 54, 22, 40, 40, 28, 66, 33, 13, 80],
              [24, 47, 32, 60, 99, 3, 45, 2, 44, 75, 33, 53, 78, 36, 84, 20, 35, 17, 12, 50],
              [32, 98, 81, 28, 64, 23, 67, 10, 26, 38, 40, 67, 59, 54, 70, 66, 18, 38, 64, 70],
              [67, 26, 20, 68, 2, 62, 12, 20, 95, 63, 94, 39, 63, 8, 40, 91, 66, 49, 94, 21],
              [24, 55, 58, 5, 66, 73, 99, 26, 97, 17, 78, 78, 96, 83, 14, 88, 34, 89, 63, 72],
              [21, 36, 23, 9, 75, 0, 76, 44, 20, 45, 35, 14, 0, 61, 33, 97, 34, 31, 33, 95],
              [78, 17, 53, 28, 22, 75, 31, 67, 15, 94, 3, 80, 4, 62, 16, 14, 9, 53, 56, 92],
              [16, 39, 5, 42, 96, 35, 31, 47, 55, 58, 88, 24, 0, 17, 54, 24, 36, 29, 85, 57],
              [86, 56, 0, 48, 35, 71, 89, 7, 5, 44, 44, 37, 44, 60, 21, 58, 51, 54, 17, 58],
              [19, 80, 81, 68, 5, 94, 47, 69, 28, 73, 92, 13, 86, 52, 17, 77, 4, 89, 55, 40],
              [4, 52, 8, 83, 97, 35, 99, 16, 7, 97, 57, 32, 16, 26, 26, 79, 33, 27, 98, 66],
              [88, 36, 68, 87, 57, 62, 20, 72, 3, 46, 33, 67, 46, 55, 12, 32, 63, 93, 53, 69],
              [4, 42, 16, 73, 38, 25, 39, 11, 24, 94, 72, 18, 8, 46, 29, 32, 40, 62, 76, 36],
              [20, 69, 36, 41, 72, 30, 23, 88, 34, 62, 99, 69, 82, 67, 59, 85, 74, 4, 36, 16],
              [20, 73, 35, 29, 78, 31, 90, 1, 74, 31, 49, 71, 48, 86, 81, 16, 23, 57, 5, 54],
              [1, 70, 54, 71, 83, 51, 54, 69, 16, 92, 33, 48, 61, 43, 52, 1, 89, 19, 67, 48]
]

In [136]:
maxrod=1
for i in range(16):
    for j in range(16):
        prod1 = problemMatrix[i][j]*problemMatrix[i+1][j]*problemMatrix[i+2][j]*problemMatrix[i+3][j]
        if prod1 > maxProd:
            maxProd = prod1
        prod2 = problemMatrix[i][j]*problemMatrix[i][j+1]*problemMatrix[i][j+2]*problemMatrix[i][j+3]
        if prod2 > maxProd:
            maxProd = prod2
        prod3 = problemMatrix[i][j]*problemMatrix[i+1][j+1]*problemMatrix[i+2][j+2]*problemMatrix[i+3][j+3]
        if prod3 > maxProd:
            maxProd = prod3
        prod4 = problemMatrix[19-i][j]*problemMatrix[18-i][j+1]*problemMatrix[17-i][j+2]*problemMatrix[16-i][j+3]
        if prod4 > maxProd:
            maxProd = prod4
print(maxProd)

70600674

# 12 The sequence of triangle numbers is generated by adding the natural numbers. So the 7th triangle number would be 1 + 2 + 3 + 4 + 5 + 6 + 7 = 28. The first ten terms would be:

1, 3, 6, 10, 15, 21, 28, 36, 45, 55, ...

Let us list the factors of the first seven triangle numbers:

 1: 1
 3: 1,3
 6: 1,2,3,6
10: 1,2,5,10
15: 1,3,5,15
21: 1,3,7,21
28: 1,2,4,7,14,28
We can see that 28 is the first triangle number to have over five divisors.

What is the value of the first triangle number to have over five hundred divisors?

In [1]:

def triangle(n):
    return int(n*(n+1)/2)

In [2]:
triangle(11)

66

In [69]:

def factors(n):
    f=[]
    
    for i in range(1,int(n**0.5)+1):
        if n%i==0:
            f.append(i)
            f.append(int(n/i))
    return len(f)

In [75]:
factors(76576500)

576

In [169]:
trinum(100000)

4999950000

In [89]:
for i in range(1,12400):
    t=triangle(i)
    l=factors(t)
    #print(l)
    if (l>=500):
        print(t)
        break

76576500

# Work out the first ten digits of the sum of the following one-hundred 50-digit numbers.

37107287533902102798797998220837590246510135740250
46376937677490009712648124896970078050417018260538
74324986199524741059474233309513058123726617309629
91942213363574161572522430563301811072406154908250
23067588207539346171171980310421047513778063246676
89261670696623633820136378418383684178734361726757
28112879812849979408065481931592621691275889832738
44274228917432520321923589422876796487670272189318
47451445736001306439091167216856844588711603153276
70386486105843025439939619828917593665686757934951
62176457141856560629502157223196586755079324193331
64906352462741904929101432445813822663347944758178
92575867718337217661963751590579239728245598838407
58203565325359399008402633568948830189458628227828
80181199384826282014278194139940567587151170094390
35398664372827112653829987240784473053190104293586
86515506006295864861532075273371959191420517255829
71693888707715466499115593487603532921714970056938
54370070576826684624621495650076471787294438377604
53282654108756828443191190634694037855217779295145
36123272525000296071075082563815656710885258350721
45876576172410976447339110607218265236877223636045
17423706905851860660448207621209813287860733969412
81142660418086830619328460811191061556940512689692
51934325451728388641918047049293215058642563049483
62467221648435076201727918039944693004732956340691
15732444386908125794514089057706229429197107928209
55037687525678773091862540744969844508330393682126
18336384825330154686196124348767681297534375946515
80386287592878490201521685554828717201219257766954
78182833757993103614740356856449095527097864797581
16726320100436897842553539920931837441497806860984
48403098129077791799088218795327364475675590848030
87086987551392711854517078544161852424320693150332
59959406895756536782107074926966537676326235447210
69793950679652694742597709739166693763042633987085
41052684708299085211399427365734116182760315001271
65378607361501080857009149939512557028198746004375
35829035317434717326932123578154982629742552737307
94953759765105305946966067683156574377167401875275
88902802571733229619176668713819931811048770190271
25267680276078003013678680992525463401061632866526
36270218540497705585629946580636237993140746255962
24074486908231174977792365466257246923322810917141
91430288197103288597806669760892938638285025333403
34413065578016127815921815005561868836468420090470
23053081172816430487623791969842487255036638784583
11487696932154902810424020138335124462181441773470
63783299490636259666498587618221225225512486764533
67720186971698544312419572409913959008952310058822
95548255300263520781532296796249481641953868218774
76085327132285723110424803456124867697064507995236
37774242535411291684276865538926205024910326572967
23701913275725675285653248258265463092207058596522
29798860272258331913126375147341994889534765745501
18495701454879288984856827726077713721403798879715
38298203783031473527721580348144513491373226651381
34829543829199918180278916522431027392251122869539
40957953066405232632538044100059654939159879593635
29746152185502371307642255121183693803580388584903
41698116222072977186158236678424689157993532961922
62467957194401269043877107275048102390895523597457
23189706772547915061505504953922979530901129967519
86188088225875314529584099251203829009407770775672
11306739708304724483816533873502340845647058077308
82959174767140363198008187129011875491310547126581
97623331044818386269515456334926366572897563400500
42846280183517070527831839425882145521227251250327
55121603546981200581762165212827652751691296897789
32238195734329339946437501907836945765883352399886
75506164965184775180738168837861091527357929701337
62177842752192623401942399639168044983993173312731
32924185707147349566916674687634660915035914677504
99518671430235219628894890102423325116913619626622
73267460800591547471830798392868535206946944540724
76841822524674417161514036427982273348055556214818
97142617910342598647204516893989422179826088076852
87783646182799346313767754307809363333018982642090
10848802521674670883215120185883543223812876952786
71329612474782464538636993009049310363619763878039
62184073572399794223406235393808339651327408011116
66627891981488087797941876876144230030984490851411
60661826293682836764744779239180335110989069790714
85786944089552990653640447425576083659976645795096
66024396409905389607120198219976047599490197230297
64913982680032973156037120041377903785566085089252
16730939319872750275468906903707539413042652315011
94809377245048795150954100921645863754710598436791
78639167021187492431995700641917969777599028300699
15368713711936614952811305876380278410754449733078
40789923115535562561142322423255033685442488917353
44889911501440648020369068063960672322193204149535
41503128880339536053299340368006977710650566631954
81234880673210146739058568557934581403627822703280
82616570773948327592232845941706525094512325230608
22918802058777319719839450180888072429661980811197
77158542502016545090413245809786882778948721859617
72107838435069186155435662884062257473692284509516
20849603980134001723930671666823555245252804609722
53503534226472524250874054075591789781264330331690

In [126]:
with open("euler.txt") as f:
    data=f.read()
data=data.replace("\n","") 
print(len(data[0:50]))

50

In [127]:
sum=0
count=0
for i in range(100):
    sum=sum+int(data[i*50:(i+1)*50])
print(sum)

5537376230390876637302048746832985971773659831892672

# 14.The following iterative sequence is defined for the set of positive integers:

# n → n/2 (n is even)
# n → 3n + 1 (n is odd)

# Using the rule above and starting with 13, we generate the following sequence:

# 13 → 40 → 20 → 10 → 5 → 16 → 8 → 4 → 2 → 1
# It can be seen that this sequence (starting at 13 and finishing at 1) contains 10 terms. Although it has not been proved yet (Collatz Problem), it is thought that all starting numbers finish at 1.

# Which starting number, under one million, produces the longest chain?

# NOTE: Once the chain starts the terms are allowed to go above one million.

In [23]:
c=[]
def collatz(n):
    if n not in c:
    
        c.append(n)
        if n==1:
            return 1

        elif n%2==0:
            collatz(n/2)
            

        else:
            collatz(3*n+1)

        return len(c)

In [2]:
m=[1,2,3]
print(max(m))

3

In [25]:
c=[]
q=collatz(142585)
print(q)

75

In [24]:
num=[]
maxi=0
for i in range(7000000,1000001):
    c=[]
    num.append(collatz(i))
    b=max(num)
    bi=num.index(b)
print(bi)

142585

In [31]:

has2={}
def collatz(x):
    seq=[]
    seq.append(x)
    temp=x
    while(temp>1):
        if temp%2==0:
            temp=int(temp/2)
            if temp in has2:
                seq+=has2[temp]
                break
            else:
                seq.append(temp)
        else:
            temp=3*temp+1
            if temp in has2:
                seq+=has2[temp]
                break
            else:
                seq.append(temp)


    has2[x]=seq            
    return len(seq)

num=0
greatest=0
for i in range(1000000):
    c=collatz(i)
    if num<c:
        num=c
        greatest=i
print('{0} has {1} elements'.format(greatest,num))

837799 has 525 elements

# 15.Starting in the top left corner of a 2×2 grid, and only being able to move to the right and down, there are exactly 6 routes to the bottom right corner.

# 1) DDRR 2) DRDR 3) DRRD 4) RDRD 5) RDDR 6) RRDD.


# How many such routes are there through a 20×20 grid?

In [4]:
def fact(n):
    if n<1:
        return 1
    else:
        return fact(n-1)*n

In [9]:
def c(n,r):
    return fact(n)/(fact(n-r)*fact(r))

In [11]:
c(40,20)

137846528820.0

# 16.2^15 = 32768 and the sum of its digits is 3 + 2 + 7 + 6 + 8 = 26.

# What is the sum of the digits of the number 2^1000?

In [27]:
def sum(n):
    k=2**n
    sum=0
    print(k)
    while k>0:
        sum=sum+k%10
        k=int(k//10)
        
    return sum

In [28]:
sum(1000)

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

1366

In [26]:
sum(20)

1048576

31

In [37]:
singledigit={0:0,1:3,2:3,3:5,4:4,5:4,6:3,7:5,8:5,9:4}
double_1={10:3,11:6,12:6,13:8,14:8,15:7,16:7,17:9,18:8,19:8}
double_2={2:6,3:6,4:5,5:5,6:5,7:7,8:6,9:6}
tt_1={1:0}

In [38]:
sum=0
for i in range(1000):
    if 1<=i<=9:
        sum+=singledigit[i]
    elif 10<=i<=19:
        sum+=double_1[i]
    elif 20<=i<=99:
        sum+=double_2[i//10]+singledigit[i%10]
    elif 100<=i<1000:
        if i%100==0:
            sum+=singledigit[i//100]+7
        elif (i%100)//10==0:
            sum+=singledigit[i//100]+7+3+singledigit[(i%100)%10]
        elif (i%100)//10==1:
            sum+=singledigit[i//100]+7+3+double_1[i%100]
        else:
            sum+=singledigit[i//100]+7+3+double_2[(i%100)//10]+singledigit[(i%100)%10]
    print(i,sum)
print(sum+11)

0 0
1 3
2 6
3 11
4 15
5 19
6 22
7 27
8 32
9 36
10 39
11 45
12 51
13 59
14 67
15 74
16 81
17 90
18 98
19 106
20 112
21 121
22 130
23 141
24 151
25 161
26 170
27 181
28 192
29 202
30 208
31 217
32 226
33 237
34 247
35 257
36 266
37 277
38 288
39 298
40 303
41 311
42 319
43 329
44 338
45 347
46 355
47 365
48 375
49 384
50 389
51 397
52 405
53 415
54 424
55 433
56 441
57 451
58 461
59 470
60 475
61 483
62 491
63 501
64 510
65 519
66 527
67 537
68 547
69 556
70 563
71 573
72 583
73 595
74 606
75 617
76 627
77 639
78 651
79 662
80 668
81 677
82 686
83 697
84 707
85 717
86 726
87 737
88 748
89 758
90 764
91 773
92 782
93 793
94 803
95 813
96 822
97 833
98 844
99 854
100 864
101 880
102 896
103 914
104 931
105 948
106 964
107 982
108 1000
109 1017
110 1033
111 1052
112 1071
113 1092
114 1113
115 1133
116 1153
117 1175
118 1196
119 1217
120 1236
121 1258
122 1280
123 1304
124 1327
125 1350
126 1372
127 1396
128 1420
129 1443
130 1462
131 1484
132 1506
133 1530
134 1553
135 1576
136 1598
137 1622
138 1646
139 1669
140 1687
141 1708
142 1729
143 1752
144 1774
145 1796
146 1817
147 1840
148 1863
149 1885
150 1903
151 1924
152 1945
153 1968
154 1990
155 2012
156 2033
157 2056
158 2079
159 2101
160 2119
161 2140
162 2161
163 2184
164 2206
165 2228
166 2249
167 2272
168 2295
169 2317
170 2337
171 2360
172 2383
173 2408
174 2432
175 2456
176 2479
177 2504
178 2529
179 2553
180 2572
181 2594
182 2616
183 2640
184 2663
185 2686
186 2708
187 2732
188 2756
189 2779
190 2798
191 2820
192 2842
193 2866
194 2889
195 2912
196 2934
197 2958
198 2982
199 3005
200 3015
201 3031
202 3047
203 3065
204 3082
205 3099
206 3115
207 3133
208 3151
209 3168
210 3184
211 3203
212 3222
213 3243
214 3264
215 3284
216 3304
217 3326
218 3347
219 3368
220 3387
221 3409
222 3431
223 3455
224 3478
225 3501
226 3523
227 3547
228 3571
229 3594
230 3613
231 3635
232 3657
233 3681
234 3704
235 3727
236 3749
237 3773
238 3797
239 3820
240 3838
241 3859
242 3880
243 3903
244 3925
245 3947
246 3968
247 3991
248 4014
249 4036
250 4054
251 4075
252 4096
253 4119
254 4141
255 4163
256 4184
257 4207
258 4230
259 4252
260 4270
261 4291
262 4312
263 4335
264 4357
265 4379
266 4400
267 4423
268 4446
269 4468
270 4488
271 4511
272 4534
273 4559
274 4583
275 4607
276 4630
277 4655
278 4680
279 4704
280 4723
281 4745
282 4767
283 4791
284 4814
285 4837
286 4859
287 4883
288 4907
289 4930
290 4949
291 4971
292 4993
293 5017
294 5040
295 5063
296 5085
297 5109
298 5133
299 5156
300 5168
301 5186
302 5204
303 5224
304 5243
305 5262
306 5280
307 5300
308 5320
309 5339
310 5357
311 5378
312 5399
313 5422
314 5445
315 5467
316 5489
317 5513
318 5536
319 5559
320 5580
321 5604
322 5628
323 5654
324 5679
325 5704
326 5728
327 5754
328 5780
329 5805
330 5826
331 5850
332 5874
333 5900
334 5925
335 5950
336 5974
337 6000
338 6026
339 6051
340 6071
341 6094
342 6117
343 6142
344 6166
345 6190
346 6213
347 6238
348 6263
349 6287
350 6307
351 6330
352 6353
353 6378
354 6402
355 6426
356 6449
357 6474
358 6499
359 6523
360 6543
361 6566
362 6589
363 6614
364 6638
365 6662
366 6685
367 6710
368 6735
369 6759
370 6781
371 6806
372 6831
373 6858
374 6884
375 6910
376 6935
377 6962
378 6989
379 7015
380 7036
381 7060
382 7084
383 7110
384 7135
385 7160
386 7184
387 7210
388 7236
389 7261
390 7282
391 7306
392 7330
393 7356
394 7381
395 7406
396 7430
397 7456
398 7482
399 7507
400 7518
401 7535
402 7552
403 7571
404 7589
405 7607
406 7624
407 7643
408 7662
409 7680
410 7697
411 7717
412 7737
413 7759
414 7781
415 7802
416 7823
417 7846
418 7868
419 7890
420 7910
421 7933
422 7956
423 7981
424 8005
425 8029
426 8052
427 8077
428 8102
429 8126
430 8146
431 8169
432 8192
433 8217
434 8241
435 8265
436 8288
437 8313
438 8338
439 8362
440 8381
441 8403
442 8425
443 8449
444 8472
445 8495
446 8517
447 8541
448 8565
449 8588
450 8607
451 8629
452 8651
453 8675
454 8698
455 8721
456 8743
457 8767
458 8791
459 8814
460 8833
461 8855
462 8877
463 8901
464 8924
465 8947
466 8969
467 8993
468 9017
469 9040
470 9061
471 9085
472 9109
473 9135
474 9160
475 9185
476 9209
477 9235
478 9261
479 9286
480 9306
481 9329
482 9352
483 9377
484 9401
485 9425
486 9448
487 9473
488 9498
489 9522
490 9542
491 9565
492 9588
493 9613
494 9637
495 9661
496 9684
497 9709
498 9734
499 9758
500 9769
501 9786
502 9803
503 9822
504 9840
505 9858
506 9875
507 9894
508 9913
509 9931
510 9948
511 9968
512 9988
513 10010
514 10032
515 10053
516 10074
517 10097
518 10119
519 10141
520 10161
521 10184
522 10207
523 10232
524 10256
525 10280
526 10303
527 10328
528 10353
529 10377
530 10397
531 10420
532 10443
533 10468
534 10492
535 10516
536 10539
537 10564
538 10589
539 10613
540 10632
541 10654
542 10676
543 10700
544 10723
545 10746
546 10768
547 10792
548 10816
549 10839
550 10858
551 10880
552 10902
553 10926
554 10949
555 10972
556 10994
557 11018
558 11042
559 11065
560 11084
561 11106
562 11128
563 11152
564 11175
565 11198
566 11220
567 11244
568 11268
569 11291
570 11312
571 11336
572 11360
573 11386
574 11411
575 11436
576 11460
577 11486
578 11512
579 11537
580 11557
581 11580
582 11603
583 11628
584 11652
585 11676
586 11699
587 11724
588 11749
589 11773
590 11793
591 11816
592 11839
593 11864
594 11888
595 11912
596 11935
597 11960
598 11985
599 12009
600 12019
601 12035
602 12051
603 12069
604 12086
605 12103
606 12119
607 12137
608 12155
609 12172
610 12188
611 12207
612 12226
613 12247
614 12268
615 12288
616 12308
617 12330
618 12351
619 12372
620 12391
621 12413
622 12435
623 12459
624 12482
625 12505
626 12527
627 12551
628 12575
629 12598
630 12617
631 12639
632 12661
633 12685
634 12708
635 12731
636 12753
637 12777
638 12801
639 12824
640 12842
641 12863
642 12884
643 12907
644 12929
645 12951
646 12972
647 12995
648 13018
649 13040
650 13058
651 13079
652 13100
653 13123
654 13145
655 13167
656 13188
657 13211
658 13234
659 13256
660 13274
661 13295
662 13316
663 13339
664 13361
665 13383
666 13404
667 13427
668 13450
669 13472
670 13492
671 13515
672 13538
673 13563
674 13587
675 13611
676 13634
677 13659
678 13684
679 13708
680 13727
681 13749
682 13771
683 13795
684 13818
685 13841
686 13863
687 13887
688 13911
689 13934
690 13953
691 13975
692 13997
693 14021
694 14044
695 14067
696 14089
697 14113
698 14137
699 14160
700 14172
701 14190
702 14208
703 14228
704 14247
705 14266
706 14284
707 14304
708 14324
709 14343
710 14361
711 14382
712 14403
713 14426
714 14449
715 14471
716 14493
717 14517
718 14540
719 14563
720 14584
721 14608
722 14632
723 14658
724 14683
725 14708
726 14732
727 14758
728 14784
729 14809
730 14830
731 14854
732 14878
733 14904
734 14929
735 14954
736 14978
737 15004
738 15030
739 15055
740 15075
741 15098
742 15121
743 15146
744 15170
745 15194
746 15217
747 15242
748 15267
749 15291
750 15311
751 15334
752 15357
753 15382
754 15406
755 15430
756 15453
757 15478
758 15503
759 15527
760 15547
761 15570
762 15593
763 15618
764 15642
765 15666
766 15689
767 15714
768 15739
769 15763
770 15785
771 15810
772 15835
773 15862
774 15888
775 15914
776 15939
777 15966
778 15993
779 16019
780 16040
781 16064
782 16088
783 16114
784 16139
785 16164
786 16188
787 16214
788 16240
789 16265
790 16286
791 16310
792 16334
793 16360
794 16385
795 16410
796 16434
797 16460
798 16486
799 16511
800 16523
801 16541
802 16559
803 16579
804 16598
805 16617
806 16635
807 16655
808 16675
809 16694
810 16712
811 16733
812 16754
813 16777
814 16800
815 16822
816 16844
817 16868
818 16891
819 16914
820 16935
821 16959
822 16983
823 17009
824 17034
825 17059
826 17083
827 17109
828 17135
829 17160
830 17181
831 17205
832 17229
833 17255
834 17280
835 17305
836 17329
837 17355
838 17381
839 17406
840 17426
841 17449
842 17472
843 17497
844 17521
845 17545
846 17568
847 17593
848 17618
849 17642
850 17662
851 17685
852 17708
853 17733
854 17757
855 17781
856 17804
857 17829
858 17854
859 17878
860 17898
861 17921
862 17944
863 17969
864 17993
865 18017
866 18040
867 18065
868 18090
869 18114
870 18136
871 18161
872 18186
873 18213
874 18239
875 18265
876 18290
877 18317
878 18344
879 18370
880 18391
881 18415
882 18439
883 18465
884 18490
885 18515
886 18539
887 18565
888 18591
889 18616
890 18637
891 18661
892 18685
893 18711
894 18736
895 18761
896 18785
897 18811
898 18837
899 18862
900 18873
901 18890
902 18907
903 18926
904 18944
905 18962
906 18979
907 18998
908 19017
909 19035
910 19052
911 19072
912 19092
913 19114
914 19136
915 19157
916 19178
917 19201
918 19223
919 19245
920 19265
921 19288
922 19311
923 19336
924 19360
925 19384
926 19407
927 19432
928 19457
929 19481
930 19501
931 19524
932 19547
933 19572
934 19596
935 19620
936 19643
937 19668
938 19693
939 19717
940 19736
941 19758
942 19780
943 19804
944 19827
945 19850
946 19872
947 19896
948 19920
949 19943
950 19962
951 19984
952 20006
953 20030
954 20053
955 20076
956 20098
957 20122
958 20146
959 20169
960 20188
961 20210
962 20232
963 20256
964 20279
965 20302
966 20324
967 20348
968 20372
969 20395
970 20416
971 20440
972 20464
973 20490
974 20515
975 20540
976 20564
977 20590
978 20616
979 20641
980 20661
981 20684
982 20707
983 20732
984 20756
985 20780
986 20803
987 20828
988 20853
989 20877
990 20897
991 20920
992 20943
993 20968
994 20992
995 21016
996 21039
997 21064
998 21089
999 21113
21124

# By starting at the top of the triangle below and moving to adjacent numbers on the row below, the maximum total from top to bottom is 23.

3
7 4
2 4 6
8 5 9 3

# That is, 3 + 7 + 4 + 9 = 23.

# Find the maximum total from top to bottom of the triangle below:

# 75
# 95 64
# 17 47 82
# 18 35 87 10
# 20 04 82 47 65
# 19 01 23 75 03 34
# 88 02 77 73 07 63 67
# 99 65 04 28 06 16 70 92
# 41 41 26 56 83 40 80 70 33
# 41 48 72 33 47 32 37 16 94 29
# 53 71 44 65 25 43 91 52 97 51 14
# 70 11 33 28 77 73 17 78 39 68 17 57
# 91 71 52 38 17 14 91 43 58 50 27 29 48
# 63 66 04 68 89 53 67 30 73 16 69 87 40 31
# 04 62 98 27 23 09 70 98 73 93 38 53 60 04 23

# NOTE: As there are only 16384 routes, it is possible to solve this problem by trying every route. However, Problem 67, is the same challenge with a triangle containing one-hundred rows; it cannot be solved by brute force, and requires a clever method! ;o)

In [175]:
import numpy as np
import pandas as pd
data=np.loadtxt('project18.txt')
print(data)

#with open('project18.txt') as file:
 #   data=file.read()
  #  data=data.replace("\n"," ")
   # data=np.array(data)
    #data=data.split(" ")
    #data=np.array(data)
#print(list(data))
print(len(data[2]))

[[75.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [95. 64.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [17. 47. 82.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [18. 35. 87. 10.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [20.  4. 82. 47. 65.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [19.  1. 23. 75.  3. 34.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [88.  2. 77. 73.  7. 63. 67.  0.  0.  0.  0.  0.  0.  0.  0.]
 [99. 65.  4. 28.  6. 16. 70. 92.  0.  0.  0.  0.  0.  0.  0.]
 [41. 41. 26. 56. 83. 40. 80. 70. 33.  0.  0.  0.  0.  0.  0.]
 [41. 48. 72. 33. 47. 32. 37. 16. 94. 29.  0.  0.  0.  0.  0.]
 [53. 71. 44. 65. 25. 43. 91. 52. 97. 51. 14.  0.  0.  0.  0.]
 [70. 11. 33. 28. 77. 73. 17. 78. 39. 68. 17. 57.  0.  0.  0.]
 [91. 71. 52. 38. 17. 14. 91. 43. 58. 50. 27. 29. 48.  0.  0.]
 [63. 66.  4. 68. 89. 53. 67. 30. 73. 16. 69. 87. 40. 31.  0.]
 [ 4. 62. 98. 27. 23.  9. 70. 98. 73. 93. 38. 53. 60.  4. 23.]]
15

In [176]:
depth = len(data)
for i in range(depth-2,-1,-1):
	for j in range(0,len(data[i])-2):
		data[i][j] += max([data[i+1][j], data[i+1][j+1]])

print("Result: " + str(data[0][0]))

Result: 1074.0

In [171]:
print(data)

[[ 75.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
    0.]
 [ 95.  64.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
    0.]
 [818. 900. 935. 792. 782. 717. 683. 616. 487. 322. 247. 233. 148.   0.
    0.]
 [704. 801. 853. 792. 782. 717. 683. 616. 487. 322. 247. 233. 148.   0.
    0.]
 [686. 640. 766. 731. 782. 717. 683. 616. 487. 322. 247. 233. 148.   0.
    0.]
 [666. 614. 636. 684. 660. 717. 683. 616. 487. 322. 247. 233. 148.   0.
    0.]
 [647. 501. 613. 609. 533. 657. 683. 616. 487. 322. 247. 233. 148.   0.
    0.]
 [559. 499. 479. 536. 514. 526. 594. 616. 487. 322. 247. 233. 148.   0.
    0.]
 [460. 434. 419. 475. 508. 470. 510. 524. 487. 322. 247. 233. 148.   0.
    0.]
 [419. 365. 393. 387. 419. 425. 430. 376. 454. 322. 247. 233. 148.   0.
    0.]
 [378. 317. 231. 321. 354. 372. 393. 354. 360. 293. 247. 233. 148.   0.
    0.]
 [325. 246. 187. 178. 256. 329. 273. 302. 263. 242. 193. 233. 148.   0.
    0.]
 [255. 235. 154. 150. 140. 179. 256. 209. 224. 172. 174. 176. 148.   0.
    0.]
 [125. 164. 102.  95. 112. 123. 165. 128. 166. 109. 122. 147. 100.  31.
    0.]
 [  4.  62.  98.  27.  23.   9.  70.  98.  73.  93.  38.  53.  60.   4.
   23.]]

In [77]:
class ListNode(object):
    def __init__(self,val,next=None):
        self.val=val
        self.next=next

In [125]:
a=ListNode(1)
b=ListNode(1)
c=ListNode(3)
d=ListNode(3)
e=ListNode(5)
a.next=b
b.next=c
c.next=d
d.next=e

In [126]:

k=[]
t={None:None}

In [127]:
while a:
    k.append(a.val)
    a=a.next

In [128]:
from collections import Counter
c=Counter(k)
k=[k for k,v in c.items() if v==1]
print(k)

[5]

    You are given the following information, but you may prefer to do some research for yourself.

    1 Jan 1900 was a Monday.
    Thirty days has September,
    April, June and November.
    All the rest have thirty-one,
    Saving February alone,
    Which has twenty-eight, rain or shine.
    And on leap years, twenty-nine.
    A leap year occurs on any year evenly divisible by 4, but not on a century unless it is divisible by 400.
   # How many Sundays fell on the first of the month during the twentieth century (1 Jan 1901 to 31 Dec 2000)?

In [224]:
from datetime import date,timedelta
s=date(1901,1,1)
e=date(2000,12,31)

In [225]:
k.weekday()
t=e-s
td=timedelta(days=1)
print(t)
print(s.weekday())
for i in range(7):
    s=s+td
    print(s.weekday())

36524 days, 0:00:00
1
2
3
4
5
6
0
1

In [226]:
td=timedelta(days=1)

In [227]:
count=0
for i in range(36525):
    s=s+td
    if s.day==1:
        if s.weekday()==6:
            count+=1
print(count)

171

20. `n! means n × (n − 1) × ... × 3 × 2 × 1

    For example, 10! = 10 × 9 × ... × 3 × 2 × 1 = 3628800,
    and the sum of the digits in the number 10! is 3 + 6 + 2 + 8 + 8 + 0 + 0 = 27.

# Find the sum of the digits in the number 100!

In [228]:
def factor(n):
    if n==0:
        return 1
    else:
        return n*factor(n-1)

In [244]:
factor(10)

3628800

In [256]:
t=str(factor(100))
print(len(t))

158

In [257]:
sum=0
n=93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000
while n>0:
    sum+=n%10
    n=n//10
print(sum)

648

In [252]:
su(3628800)

24